body{
    margin:0;
    background:#f4f4f4;
}

header{
    background:#0d6486;
    color:white;
    text-align:center;
    padding:20px;
}
.outer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:30px;
}
.card{
    width:300px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h2{
    text-align:center;
    color:#0d6486;
}

.card p{
    padding:15px;
    text-align:justify;
}